body {
    font-family: Arial, sans-serif;
    background-color: #343536;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input.form-control, select.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

button.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

/* #plot {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  #plot {
    height: 400px;
  }
}

@media (min-width: 768px) {
  #plot {
    height: 500px;
  }
}

@media (min-width: 992px) {
  #plot {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  #plot {
    height: 700px;
  }
} */

p {
    margin: 5px 0;
}

.configForm {
    display: none;
}

.configForm.active {
    display: block;
}

